<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="content">
    <div id="page-wrap">
        <table id="tbl_group" class="table table-striped" style="width: 100%">
            <thead>
            <tr>
                <th width="80%">Nama group</th>
                <th width='10%'>Privacy</th>
                <th width='10%'></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>
